!!!
%html
  %head
    %title Dread
    / mobile specific meta
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    / --navbar--
    %header.navbar.navbar-inverse.navbar-fixed-top{:role => "banner"}
      .container
        .navbar-header
          %button.navbar-toggle{:type=>"button", :"data-toggle"=>"collapse", :"data-target"=>"#navbar-contents"}
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          =link_to "TigersetheX", root_path, :class => "navbar-brand"
        #navbar-contents.collapse.navbar-collapse
          %ul.nav.navbar-nav{:role => "navigation"}
            %li
              =link_to "About me", page_path("about")
            %li
              =link_to "My Art Work", page_path("about")
            %li
              =link_to "Contact", contacts_new_path 
          %ul.nav.navbar-nav.navbar-right
            -unless user_signed_in?
              %li
                =link_to "Sign Up", new_user_registration_path 
              %li
                =link_to "Sign In", new_user_session_path
            -else
              %li
                %a{:href => "#"}
                  Welcome, #{current_user.email}
              %li
                = link_to 'Logout', destroy_user_session_path, :method => :delete
    .container
      %p#notice= notice
      %p#alert= alert
      =yield

